<div class="footer">
  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td class="content-block">
        <span class="apple-link">CoinBae.co</span>
      </td>
    </tr>
    <tr>
      <td class="content-block powered-by">
        Powered by Node.js and Mailgun
      </td>
    </tr>
  </table>
</div>